---
swagger: "2.0"
info:
  description: "The validation APIs help you validate data. Check if an E-mail address\
    \ is real. Check if a domain is real. Check up on an IP address, and even where\
    \ it is located. All this and much more is available in the validation API."
  version: "v1"
  title: "validateapi"
host: "api.cloudmersive.com"
schemes:
- "https"
paths:
  /validate/address/parse:
    post:
      tags:
      - "Address"
      summary: "Parse an unstructured input text string into an international, formatted\
        \ address"
      description: "Uses machine learning and Natural Language Processing (NLP) to\
        \ handle a wide array of cases, including non-standard and unstructured address\
        \ strings across a wide array of countries and address formatting norms."
      operationId: "Address_ParseString"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Input parse request"
        required: true
        schema:
          $ref: "#/definitions/ParseAddressRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ParseAddressResponse"
      security:
      - Apikey: []
  /validate/address/street-address:
    post:
      tags:
      - "Address"
      summary: "Validate a street address"
      description: "Determines if an input structured street address is valid or invalid.\
        \  If the address is valid, also returns the latitude and longitude of the\
        \ address.  Supports all major international addresses."
      operationId: "Address_ValidateAddress"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Input parse request"
        required: true
        schema:
          $ref: "#/definitions/ValidateAddressRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ValidateAddressResponse"
      security:
      - Apikey: []
  /validate/address/street-address/normalize:
    post:
      tags:
      - "Address"
      summary: "Normalize a street address"
      description: "Normalizes an input structured street address is valid or invalid.\
        \  If the address is valid, also returns the latitude and longitude of the\
        \ address.  Supports all major international addresses."
      operationId: "Address_NormalizeAddress"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Input parse request"
        required: true
        schema:
          $ref: "#/definitions/ValidateAddressRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/NormalizeAddressResponse"
      security:
      - Apikey: []
  /validate/address/city:
    post:
      tags:
      - "Address"
      summary: "Validate a City and State/Province combination, get location information\
        \ about it"
      description: "Checks if the input city and state name or code is valid, and\
        \ returns information about it such as normalized City name, State name and\
        \ more.  Supports all major international addresses."
      operationId: "Address_ValidateCity"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Input parse request"
        required: true
        schema:
          $ref: "#/definitions/ValidateCityRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ValidateCityResponse"
      security:
      - Apikey: []
  /validate/address/state:
    post:
      tags:
      - "Address"
      summary: "Validate a state or province, name or abbreviation, get location information\
        \ about it"
      description: "Checks if the input state name or code is valid, and returns information\
        \ about it such as normalized State name and more.  Supports all major countries."
      operationId: "Address_ValidateState"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Input parse request"
        required: true
        schema:
          $ref: "#/definitions/ValidateStateRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ValidateStateResponse"
      security:
      - Apikey: []
  /validate/address/postal-code:
    post:
      tags:
      - "Address"
      summary: "Validate a postal code, get location information about it"
      description: "Checks if the input postal code is valid, and returns information\
        \ about it such as City, State and more.  Supports all major countries."
      operationId: "Address_ValidatePostalCode"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Input parse request"
        required: true
        schema:
          $ref: "#/definitions/ValidatePostalCodeRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ValidatePostalCodeResponse"
      security:
      - Apikey: []
  /validate/address/country:
    post:
      tags:
      - "Address"
      summary: "Validate and normalize country information, return ISO 3166-1 country\
        \ codes and country name"
      description: "Validates and normalizes country information, and returns key\
        \ information about a country, as well as whether it is a member of the European\
        \ Union.  Also returns distinct time zones in the country."
      operationId: "Address_Country"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Input request"
        required: true
        schema:
          $ref: "#/definitions/ValidateCountryRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ValidateCountryResponse"
      security:
      - Apikey: []
  /validate/address/country/list:
    post:
      tags:
      - "Address"
      summary: "Get a list of ISO 3166-1 countries"
      description: "Enumerates the list of ISO 3166-1 countries, including name, country\
        \ codes, and more."
      operationId: "Address_CountryList"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/CountryListResult"
      security:
      - Apikey: []
  /validate/address/country/check-eu-membership:
    post:
      tags:
      - "Address"
      summary: "Check if a country is a member of the European Union (EU)"
      description: "Checks if the input country is a member of the European Union\
        \ or not."
      operationId: "Address_CheckEUMembership"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Input request"
        required: true
        schema:
          $ref: "#/definitions/ValidateCountryRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ValidateCountryResponse"
      security:
      - Apikey: []
  /validate/address/country/get-currency:
    post:
      tags:
      - "Address"
      summary: "Get the currency of the input country"
      description: "Gets the currency information for the input country, including\
        \ the ISO three-letter country code, currency symbol, and English currency\
        \ name."
      operationId: "Address_GetCountryCurrency"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Input request"
        required: true
        schema:
          $ref: "#/definitions/ValidateCountryRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ValidateCountryResponse"
      security:
      - Apikey: []
  /validate/address/country/get-region:
    post:
      tags:
      - "Address"
      summary: "Get the region, subregion and continent of the country"
      description: "Gets the continent information including region and subregion\
        \ for the input country."
      operationId: "Address_GetCountryRegion"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Input request"
        required: true
        schema:
          $ref: "#/definitions/ValidateCountryRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ValidateCountryResponse"
      security:
      - Apikey: []
  /validate/address/country/get-timezones:
    post:
      tags:
      - "Address"
      summary: "Gets IANA/Olsen time zones for a country"
      description: "Gets the IANA/Olsen time zones for a country."
      operationId: "Address_GetTimezone"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Input request"
        required: true
        schema:
          $ref: "#/definitions/GetTimezonesRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/GetTimezonesResponse"
      security:
      - Apikey: []
  /validate/address/geocode:
    post:
      tags:
      - "Address"
      summary: "Geocode a street address into latitude and longitude"
      description: "Geocodes a street address into latitude and longitude."
      operationId: "Address_Geocode"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Input parse request"
        required: true
        schema:
          $ref: "#/definitions/ValidateAddressRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ValidateAddressResponse"
      security:
      - Apikey: []
  /validate/address/geocode/reverse:
    post:
      tags:
      - "Address"
      summary: "Reverse geocode a lattitude and longitude into an address"
      description: "Converts lattitude and longitude coordinates into an address through\
        \ reverse-geocoding."
      operationId: "Address_ReverseGeocodeAddress"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Input reverse geocoding request"
        required: true
        schema:
          $ref: "#/definitions/ReverseGeocodeAddressRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ReverseGeocodeAddressResponse"
      security:
      - Apikey: []
  /validate/date-time/get/now:
    get:
      tags:
      - "DateTime"
      summary: "Get current date and time as of now"
      description: "Gets the current date and time.  Response time is syncronized\
        \ with atomic clocks, and represents a monotonic, centrally available, consistent\
        \ clock."
      operationId: "DateTime_GetNowSimple"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/DateTimeNowResult"
      security:
      - Apikey: []
  /validate/date-time/get/holidays:
    post:
      tags:
      - "DateTime"
      summary: "Get public holidays in the specified country and year"
      description: "Enumerates all public holidays in a given country for a given\
        \ year.  Supports over 100 countries."
      operationId: "DateTime_GetPublicHolidays"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Input request"
        required: true
        schema:
          $ref: "#/definitions/GetPublicHolidaysRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PublicHolidaysResponse"
      security:
      - Apikey: []
  /validate/date-time/parse/date-time/structured:
    post:
      tags:
      - "DateTime"
      summary: "Parses a standardized date and time string into a date and time"
      description: "Parses a structured date and time string into a date time object.\
        \  This is intended for standardized date strings that adhere to formatting\
        \ conventions, rather than natural language input."
      operationId: "DateTime_ParseStandardDateTime"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Input request"
        required: true
        schema:
          $ref: "#/definitions/DateTimeStandardizedParseRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/DateTimeStandardizedParseResponse"
      security:
      - Apikey: []
  /validate/date-time/parse/date-time/natural-language:
    post:
      tags:
      - "DateTime"
      summary: "Parses a free-form natural language date and time string into a date\
        \ and time"
      description: "Parses an unstructured, free-form, natural language date and time\
        \ string into a date time object.  This is intended for lightweight human-entered\
        \ input, such as \"tomorrow at 3pm\" or \"tuesday\"."
      operationId: "DateTime_ParseNaturalLanguageDateTime"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Input request"
        required: true
        schema:
          $ref: "#/definitions/DateTimeNaturalLanguageParseRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/DateTimeStandardizedParseResponse"
      security:
      - Apikey: []
  /validate/domain/check:
    post:
      tags:
      - "Domain"
      summary: "Validate a domain name"
      description: "Check whether a domain name is valid or not.  API performs a live\
        \ validation by contacting DNS services to validate the existence of the domain\
        \ name."
      operationId: "Domain_Check"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "domain"
        description: "Domain name to check, for example \"cloudmersive.com\".  The\
          \ input is a string so be sure to enclose it in double-quotes."
        required: true
        schema:
          type: "string"
        x-exportParamName: "Domain"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/CheckResponse"
      security:
      - Apikey: []
  /validate/domain/quality-score:
    post:
      tags:
      - "Domain"
      summary: "Validate a domain name's quality score"
      description: "Check the quality of a domain name.  Supports over 9 million domain\
        \ names.  Higher quality scores indicate more trust and authority in the domain\
        \ name, with values ranging from 0.0 (low quality) to 10.0 (maximum quality)."
      operationId: "Domain_QualityScore"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "domain"
        description: "Domain name to check, for example \"cloudmersive.com\"."
        required: true
        schema:
          type: "string"
        x-exportParamName: "Domain"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/DomainQualityResponse"
      security:
      - Apikey: []
  /validate/domain/whois:
    post:
      tags:
      - "Domain"
      summary: "Get WHOIS information for a domain"
      description: "Validate whether a domain name exists, and also return the full\
        \ WHOIS record for that domain name.  WHOIS records include all the registration\
        \ details of the domain name, such as information about the domain's owners."
      operationId: "Domain_Post"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "domain"
        description: "Domain name to check, for example \"cloudmersive.com\".   The\
          \ input is a string so be sure to enclose it in double-quotes."
        required: true
        schema:
          type: "string"
        x-exportParamName: "Domain"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/WhoisResponse"
      security:
      - Apikey: []
  /validate/domain/url/syntax-only:
    post:
      tags:
      - "Domain"
      summary: "Validate a URL syntactically"
      description: "Validate whether a URL is syntactically valid (does not check\
        \ endpoint for validity).  Accepts various types of input and produces a well-formed\
        \ URL as output."
      operationId: "Domain_UrlSyntaxOnly"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "request"
        description: "Input URL information"
        required: true
        schema:
          $ref: "#/definitions/ValidateUrlRequestSyntaxOnly"
        x-exportParamName: "Request"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ValidateUrlResponseSyntaxOnly"
      security:
      - Apikey: []
  /validate/domain/url/full:
    post:
      tags:
      - "Domain"
      summary: "Validate a URL fully"
      description: "Validate whether a URL is syntactically valid (does not check\
        \ endpoint for validity), whether it exists, and whether the endpoint is up\
        \ and passes virus scan checks.  Accepts various types of input and produces\
        \ a well-formed URL as output."
      operationId: "Domain_UrlFull"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "request"
        description: "Input URL request"
        required: true
        schema:
          $ref: "#/definitions/ValidateUrlRequestFull"
        x-exportParamName: "Request"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ValidateUrlResponseFull"
      security:
      - Apikey: []
  /validate/domain/url/get-top-level-domain:
    post:
      tags:
      - "Domain"
      summary: "Get top-level domain name from URL"
      description: "Gets the top-level domain name from a URL, such as mydomain.com."
      operationId: "Domain_GetTopLevelDomainFromUrl"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "request"
        description: "Input URL information"
        required: true
        schema:
          $ref: "#/definitions/ValidateUrlRequestSyntaxOnly"
        x-exportParamName: "Request"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ValidateUrlResponseSyntaxOnly"
      security:
      - Apikey: []
  /validate/domain/url/ssrf-threat-check:
    post:
      tags:
      - "Domain"
      summary: "Check a URL for SSRF threats"
      description: "Checks if an input URL is at risk of being an SSRF (Server-side\
        \ request forgery) threat or attack."
      operationId: "Domain_SsrfCheck"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "request"
        description: "Input URL request"
        required: true
        schema:
          $ref: "#/definitions/UrlSsrfRequestFull"
        x-exportParamName: "Request"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/UrlSsrfResponseFull"
      security:
      - Apikey: []
  /validate/domain/url/ssrf-threat-check/batch:
    post:
      tags:
      - "Domain"
      summary: "Check a URL for SSRF threats in batches"
      description: "Batch-checks if input URLs are at risk of being an SSRF (Server-side\
        \ request forgery) threat or attack."
      operationId: "Domain_SsrfCheckBatch"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "request"
        description: "Input URL request as a batch of multiple URLs"
        required: true
        schema:
          $ref: "#/definitions/UrlSsrfRequestBatch"
        x-exportParamName: "Request"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/UrlSsrfResponseBatch"
      security:
      - Apikey: []
  /validate/email/address/syntaxOnly:
    post:
      tags:
      - "Email"
      summary: "Validate email adddress for syntactic correctness only"
      description: "Validate whether a given email address is syntactically correct\
        \ via a limited local-only check.  Use the address/full API to do a full validation."
      operationId: "Email_Post"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "value"
        description: "Email address to validate, e.g. \"support@cloudmersive.com\"\
          .    The input is a string so be sure to enclose it in double-quotes."
        required: true
        schema:
          type: "string"
        x-exportParamName: "Value"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/AddressVerifySyntaxOnlyResponse"
      security:
      - Apikey: []
  /validate/email/address/servers:
    post:
      tags:
      - "Email"
      summary: "Partially check whether an email address is valid"
      description: "Validate an email address by identifying whether its parent domain\
        \ has email servers defined.  This call is less limited than syntaxOnly but\
        \ not as comprehensive as address/full."
      operationId: "Email_AddressGetServers"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "email"
        description: "Email address to validate, e.g. \"support@cloudmersive.com\"\
          .    The input is a string so be sure to enclose it in double-quotes."
        required: true
        schema:
          type: "string"
        x-exportParamName: "Email"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/AddressGetServersResponse"
      security:
      - Apikey: []
  /validate/email/address/full:
    post:
      tags:
      - "Email"
      summary: "Fully validate an email address"
      description: "Performs a full validation of the email address.  Checks for syntactic\
        \ correctness, identifies the mail server in question if any, and then contacts\
        \ the email server to validate the existence of the account - without sending\
        \ any emails."
      operationId: "Email_FullValidation"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "email"
        description: "Email address to validate, e.g. \"support@cloudmersive.com\"\
          .    The input is a string so be sure to enclose it in double-quotes."
        required: true
        schema:
          type: "string"
        x-exportParamName: "Email"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/FullEmailValidationResponse"
      security:
      - Apikey: []
  /validate/ip/intelligence:
    post:
      tags:
      - "IPAddress"
      summary: "Get intelligence on an IP address"
      description: "Identify key intelligence about an IP address, including if it\
        \ is a known threat IP, known bot, Tor exit node, as well as the location\
        \ of the IP address."
      operationId: "IPAddress_IpIntelligence"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "value"
        description: "IP address to process, e.g. \"55.55.55.55\".  The input is a\
          \ string so be sure to enclose it in double-quotes."
        required: true
        schema:
          type: "string"
        x-exportParamName: "Value"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/IPIntelligenceResponse"
      security:
      - Apikey: []
  /validate/ip/geolocate:
    post:
      tags:
      - "IPAddress"
      summary: "Geolocate an IP address"
      description: "Identify an IP address Country, State/Provence, City, Zip/Postal\
        \ Code, etc.  Useful for security and UX applications."
      operationId: "IPAddress_Post"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "value"
        description: "IP address to geolocate, e.g. \"55.55.55.55\".  The input is\
          \ a string so be sure to enclose it in double-quotes."
        required: true
        schema:
          type: "string"
        x-exportParamName: "Value"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/GeolocateResponse"
      security:
      - Apikey: []
  /validate/ip/geolocate/street-address:
    post:
      tags:
      - "IPAddress"
      summary: "Geolocate an IP address to a street address"
      description: "Identify an IP address's street address.  Useful for security\
        \ and UX applications."
      operationId: "IPAddress_GeolocateStreetAddress"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "value"
        description: "IP address to geolocate, e.g. \"55.55.55.55\".  The input is\
          \ a string so be sure to enclose it in double-quotes."
        required: true
        schema:
          type: "string"
        x-exportParamName: "Value"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/GeolocateStreetAddressResponse"
      security:
      - Apikey: []
  /validate/ip/is-threat:
    post:
      tags:
      - "IPAddress"
      summary: "Check if IP address is a known threat"
      description: "Check if the input IP address is a known threat IP address.  Checks\
        \ against known bad IPs, botnets, compromised servers, and other lists of\
        \ threats."
      operationId: "IPAddress_IsThreat"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "value"
        description: "IP address to check, e.g. \"55.55.55.55\".  The input is a string\
          \ so be sure to enclose it in double-quotes."
        required: true
        schema:
          type: "string"
        x-exportParamName: "Value"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/IPThreatResponse"
      security:
      - Apikey: []
  /validate/ip/is-tor-node:
    post:
      tags:
      - "IPAddress"
      summary: "Check if IP address is a Tor node server"
      description: "Check if the input IP address is a Tor exit node server.  Tor\
        \ servers are a type of privacy-preserving technology that can hide the original\
        \ IP address who makes a request."
      operationId: "IPAddress_IsTorNode"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "value"
        description: "IP address to check, e.g. \"55.55.55.55\".  The input is a string\
          \ so be sure to enclose it in double-quotes."
        required: true
        schema:
          type: "string"
        x-exportParamName: "Value"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/TorNodeResponse"
      security:
      - Apikey: []
  /validate/ip/is-bot:
    post:
      tags:
      - "IPAddress"
      summary: "Check if IP address is a Bot client"
      description: "Check if the input IP address is a Bot, robot, or otherwise a\
        \ non-user entity.  Leverages real-time signals to check against known high-probability\
        \ bots.."
      operationId: "IPAddress_IsBot"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "value"
        description: "IP address to check, e.g. \"55.55.55.55\".  The input is a string\
          \ so be sure to enclose it in double-quotes."
        required: true
        schema:
          type: "string"
        x-exportParamName: "Value"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/BotCheckResponse"
      security:
      - Apikey: []
  /validate/ip/reverse-domain-lookup:
    post:
      tags:
      - "IPAddress"
      summary: "Perform a reverse domain name (DNS) lookup on an IP address"
      description: "Gets the domain name, if any, associated with the IP address."
      operationId: "IPAddress_ReverseDomainLookup"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "value"
        description: "IP address to check, e.g. \"55.55.55.55\".  The input is a string\
          \ so be sure to enclose it in double-quotes."
        required: true
        schema:
          type: "string"
        x-exportParamName: "Value"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/IPReverseDNSLookupResponse"
      security:
      - Apikey: []
  /validate/lead-enrichment/lead/enrich:
    post:
      tags:
      - "LeadEnrichment"
      summary: "Enrich an input lead with additional fields of data"
      operationId: "LeadEnrichment_EnrichLead"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "request"
        description: "Input lead with known fields set, and unknown fields left blank\
          \ (null)"
        required: true
        schema:
          $ref: "#/definitions/LeadEnrichmentRequest"
        x-exportParamName: "Request"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/LeadEnrichmentResponse"
      security:
      - Apikey: []
  /validate/name/full-name:
    post:
      tags:
      - "Name"
      summary: "Parse and validate a full name"
      description: "Parses a full name string (e.g. \"Mr. Jon van der Waal Jr.\")\
        \ into its component parts (and returns these component parts), and then validates\
        \ whether it is a valid name string or not"
      operationId: "Name_ValidateFullName"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Validation request information"
        required: true
        schema:
          $ref: "#/definitions/FullNameValidationRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/FullNameValidationResponse"
      security:
      - Apikey: []
  /validate/name/first:
    post:
      tags:
      - "Name"
      summary: "Validate a first name"
      description: "Determines if a string is a valid first name (given name)"
      operationId: "Name_ValidateFirstName"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Validation request information"
        required: true
        schema:
          $ref: "#/definitions/FirstNameValidationRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/FirstNameValidationResponse"
      security:
      - Apikey: []
  /validate/name/last:
    post:
      tags:
      - "Name"
      summary: "Validate a last name"
      description: "Determines if a string is a valid last name (surname)"
      operationId: "Name_ValidateLastName"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Validation request information"
        required: true
        schema:
          $ref: "#/definitions/LastNameValidationRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/LastNameValidationResponse"
      security:
      - Apikey: []
  /validate/name/get-gender:
    post:
      tags:
      - "Name"
      summary: "Get the gender of a first name"
      description: "Determines the gender of a first name (given name)"
      operationId: "Name_GetGender"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Gender request information"
        required: true
        schema:
          $ref: "#/definitions/GetGenderRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/GetGenderResponse"
      security:
      - Apikey: []
  /validate/name/identifier:
    post:
      tags:
      - "Name"
      summary: "Validate a code identifier"
      description: "Determines if the input name is a valid technical / code identifier.\
        \  Configure input rules such as whether whitespace, hyphens, underscores,\
        \ etc. are allowed.  For example, a valid identifier might be \"helloWorld\"\
        \ but not \"hello*World\"."
      operationId: "Name_Identifier"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Identifier validation request information"
        required: true
        schema:
          $ref: "#/definitions/ValidateIdentifierRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ValidateIdentifierResponse"
      security:
      - Apikey: []
  /validate/phonenumber/basic:
    post:
      tags:
      - "PhoneNumber"
      summary: "Validate phone number (basic)"
      description: "Validate a phone number by analyzing the syntax"
      operationId: "PhoneNumber_SyntaxOnly"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "value"
        description: "Phone number to validate in a PhoneNumberValidateRequest object.\
          \  Try a phone number such as \"1.800.463.3339\", and either leave DefaultCountryCode\
          \ blank or use \"US\"."
        required: true
        schema:
          $ref: "#/definitions/PhoneNumberValidateRequest"
        x-exportParamName: "Value"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PhoneNumberValidationResponse"
      security:
      - Apikey: []
  /validate/text-input/check/xss:
    post:
      tags:
      - "TextInput"
      summary: "Check text input for Cross-Site-Scripting (XSS) attacks"
      description: "Detects XSS (Cross-Site-Scripting) attacks from text input."
      operationId: "TextInput_CheckXss"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "value"
        description: "User-facing text input."
        required: true
        schema:
          type: "string"
        x-exportParamName: "Value"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/XssProtectionResult"
      security:
      - Apikey: []
  /validate/text-input/protect/xss:
    post:
      tags:
      - "TextInput"
      summary: "Protect text input from Cross-Site-Scripting (XSS) attacks through\
        \ normalization"
      description: "Detects and removes XSS (Cross-Site-Scripting) attacks from text\
        \ input through normalization.  Returns the normalized result, as well as\
        \ information on whether the original input contained an XSS risk."
      operationId: "TextInput_ProtectXss"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "value"
        description: "User-facing text input."
        required: true
        schema:
          type: "string"
        x-exportParamName: "Value"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/XssProtectionResult"
      security:
      - Apikey: []
  /validate/text-input/check-and-protect/xss/batch:
    post:
      tags:
      - "TextInput"
      summary: "Check and protect multiple text inputs for Cross-Site-Scripting (XSS)\
        \ attacks in batch"
      description: "Detects XSS (Cross-Site-Scripting) attacks from multiple text\
        \ input.  Output preverses order of input items."
      operationId: "TextInput_CheckXssBatch"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "value"
        description: "User-facing text input."
        required: true
        schema:
          $ref: "#/definitions/XssProtectionBatchRequest"
        x-exportParamName: "Value"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/XssProtectionBatchResponse"
      security:
      - Apikey: []
  /validate/useragent/parse:
    post:
      tags:
      - "UserAgent"
      summary: "Parse an HTTP User-Agent string, identify robots"
      description: "Uses a parsing system and database to parse the User-Agent into\
        \ its structured component parts, such as Browser, Browser Version, Browser\
        \ Engine, Operating System, and importantly, Robot identification."
      operationId: "UserAgent_Parse"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "request"
        description: "Input parse request"
        required: true
        schema:
          $ref: "#/definitions/UserAgentValidateRequest"
        x-exportParamName: "Request"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/UserAgentValidateResponse"
      security:
      - Apikey: []
  /validate/vat/lookup:
    post:
      tags:
      - "Vat"
      summary: "Validate a VAT number"
      description: "Checks if a VAT code is valid, and if it is, returns more information\
        \ about it.  The first two letters of the VAT number must be letters that\
        \ indicate the country, such as LU20260743.  Possible country codes include\
        \ Austria (AT), Belgium (BE), Bulgaria (BG), Cyprus (CY), Czech Republic (CZ),\
        \ Germany (DE), Denmark (DK), Estonia (EE), Greece (EL), Spain (ES), Finland\
        \ (FI), France (FR), United Kingdom (GB), Croatia (HR), Hungary (HU), Ireland\
        \ (IE), Italy (IT), Lithuania (LT), Luxembourg (LU), Latvia (LV), Malta (MT),\
        \ The Netherlands (NL), Poland (PL), Portugal (PT), Romania (RO), Sweden (SE),\
        \ Slovenia (SI), Slovakia (SK)."
      operationId: "Vat_VatLookup"
      consumes:
      - "application/json"
      - "text/json"
      produces:
      - "application/json"
      - "text/json"
      - "application/xml"
      - "text/xml"
      parameters:
      - in: "body"
        name: "input"
        description: "Input VAT code"
        required: true
        schema:
          $ref: "#/definitions/VatLookupRequest"
        x-exportParamName: "Input"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/VatLookupResponse"
      security:
      - Apikey: []
securityDefinitions:
  Apikey:
    description: "API Key Authentication"
    type: "apiKey"
    name: "Apikey"
    in: "header"
definitions:
  ParseAddressRequest:
    type: "object"
    properties:
      AddressString:
        type: "string"
        description: "A mailing address or street address formatted as a single text\
          \ string; this will be parsed into its components"
      CapitalizationMode:
        type: "string"
        description: "Optional; indicates how the parsed output should be capitalized;\
          \ default is Title Case; possible values are: \"Uppercase\" will set the\
          \ capitalization to UPPER CASE; \"Lowercase\" will set the capitalization\
          \ to lower case; \"Titlecase\" will set the capitalization to Title Case;\
          \ and \"Originalcase\" will preserve the original casing as much as possible"
    description: "Request to parse an address formatted as a string/free text into\
      \ a structured address"
    example:
      AddressString: "AddressString"
      CapitalizationMode: "CapitalizationMode"
  ParseAddressResponse:
    type: "object"
    properties:
      Successful:
        type: "boolean"
        description: "True if the parsing operation was successful, false otherwise"
      Building:
        type: "string"
        description: "The name of the building, house or structure if applicable,\
          \ such as \"Cloudmersive Building 2\".  This will often by null."
      StreetNumber:
        type: "string"
        description: "The street number or house number of the address.  For example,\
          \ in the address \"1600 Pennsylvania Avenue NW\" the street number would\
          \ be \"1600\".  This value will typically be populated for most addresses."
      Street:
        type: "string"
        description: "The name of the street or road of the address.  For example,\
          \ in the address \"1600 Pennsylvania Avenue NW\" the street number would\
          \ be \"Pennsylvania Avenue NW\"."
      City:
        type: "string"
        description: "The city of the address."
      StateOrProvince:
        type: "string"
        description: "The state or province of the address."
      PostalCode:
        type: "string"
        description: "The postal code or zip code of the address."
      CountryFullName:
        type: "string"
        description: "Country of the address, if present in the address.  If not included\
          \ in the address it will be null."
      ISOTwoLetterCode:
        type: "string"
        description: "Two-letter ISO 3166-1 country code"
    description: "Result of parsing an address into its component parts"
    example:
      Building: "Building"
      StateOrProvince: "StateOrProvince"
      StreetNumber: "StreetNumber"
      Street: "Street"
      PostalCode: "PostalCode"
      CountryFullName: "CountryFullName"
      City: "City"
      ISOTwoLetterCode: "ISOTwoLetterCode"
      Successful: true
  ValidateAddressRequest:
    type: "object"
    properties:
      StreetAddress:
        type: "string"
        description: "Required; Street address to validate, such as '2950 Buskirk\
          \ Ave.'"
      City:
        type: "string"
        description: "Required; City part of the addrerss to validate, such as 'Walnut\
          \ Creek'"
      StateOrProvince:
        type: "string"
        description: "Required; State or province of the address to validate, such\
          \ as 'CA' or 'California'"
      PostalCode:
        type: "string"
        description: "Optional (recommended); Zip code or postal code of the address\
          \ to validate, such as '94597'"
      CountryFullName:
        type: "string"
        description: "Optional (recommended); Name of the country, such as 'United\
          \ States'.  If left blank, and CountryCode is also left blank, will default\
          \ to United States.  Global countries are supported."
      CountryCode:
        type: "string"
        description: "Optional; two-letter country code (Two-letter ISO 3166-1 country\
          \ code) of the country.  If left blank, and CountryFullName is also left\
          \ blank, will default to United States.  Global countries are supported."
    description: "Request to Validate a Street Address"
    example:
      StreetAddress: "StreetAddress"
      StateOrProvince: "StateOrProvince"
      PostalCode: "PostalCode"
      CountryFullName: "CountryFullName"
      City: "City"
      CountryCode: "CountryCode"
  ValidateAddressResponse:
    type: "object"
    properties:
      ValidAddress:
        type: "boolean"
        description: "True if the address is valid, false otherwise"
      Latitude:
        type: "number"
        format: "double"
        description: "If the address is valid, the degrees latitude of the validated\
          \ address, null otherwise"
      Longitude:
        type: "number"
        format: "double"
        description: "If the address is valid, the degrees longitude of the validated\
          \ address, null otherwise"
    description: "Result of validating a street address"
    example:
      ValidAddress: true
      Latitude: 0.8008281904610115
      Longitude: 6.027456183070403
  NormalizeAddressResponse:
    type: "object"
    properties:
      ValidAddress:
        type: "boolean"
        description: "True if the address is valid, false otherwise"
      Building:
        type: "string"
        description: "The name of the building, house or structure if applicable,\
          \ such as \"Cloudmersive Building 2\".  This will often by null."
      StreetNumber:
        type: "string"
        description: "The street number or house number of the address.  For example,\
          \ in the address \"1600 Pennsylvania Avenue NW\" the street number would\
          \ be \"1600\".  This value will typically be populated for most addresses."
      Street:
        type: "string"
        description: "The name of the street or road of the address.  For example,\
          \ in the address \"1600 Pennsylvania Avenue NW\" the street number would\
          \ be \"Pennsylvania Avenue NW\"."
      City:
        type: "string"
        description: "The city of the address."
      StateOrProvince:
        type: "string"
        description: "The state or province of the address."
      PostalCode:
        type: "string"
        description: "The postal code or zip code of the address."
      CountryFullName:
        type: "string"
        description: "Country of the address, if present in the address.  If not included\
          \ in the address it will be null."
      ISOTwoLetterCode:
        type: "string"
        description: "Two-letter ISO 3166-1 country code"
      Latitude:
        type: "number"
        format: "double"
        description: "If the address is valid, the degrees latitude of the validated\
          \ address, null otherwise"
      Longitude:
        type: "number"
        format: "double"
        description: "If the address is valid, the degrees longitude of the validated\
          \ address, null otherwise"
    description: "Result of validating a street address"
    example:
      ValidAddress: true
      Building: "Building"
      StateOrProvince: "StateOrProvince"
      StreetNumber: "StreetNumber"
      Street: "Street"
      PostalCode: "PostalCode"
      CountryFullName: "CountryFullName"
      Latitude: 0.8008281904610115
      City: "City"
      ISOTwoLetterCode: "ISOTwoLetterCode"
      Longitude: 6.027456183070403
  ValidateCityRequest:
    type: "object"
    properties:
      City:
        type: "string"
        description: "Required: City of the address to validate, such as 'San Francisco'\
          \ or 'London'"
      StateOrProvince:
        type: "string"
        description: "Required: State or province of the address to validate, such\
          \ as 'California' or 'CA'"
      CountryFullName:
        type: "string"
        description: "Optional (recommended); Name of the country, such as 'United\
          \ States'.  If left blank, and CountryCode is also left blank, will default\
          \ to United States.  Global countries are supported."
      CountryCode:
        type: "string"
        description: "Optional; two-letter country code (Two-letter ISO 3166-1 country\
          \ code) of the country.  If left blank, and CountryFullName is also left\
          \ blank, will default to United States.  Global countries are supported."
    description: "Request to Validate a City and State or Province in a country"
    example:
      StateOrProvince: "StateOrProvince"
      CountryFullName: "CountryFullName"
      City: "City"
      CountryCode: "CountryCode"
  ValidateCityResponse:
    type: "object"
    properties:
      ValidCity:
        type: "boolean"
        description: "True if the city is valid, false otherwise"
      City:
        type: "string"
        description: "If valid, City corresponding to the input postal code, such\
          \ as 'Walnut Creek'"
      StateOrProvince:
        type: "string"
        description: "If valid; State or province corresponding to the input state\
          \ name, such as 'CA' or 'California'"
      Latitude:
        type: "number"
        format: "double"
        description: "If the postal code is valid, the degrees latitude of the centroid\
          \ of the state, null otherwise"
      Longitude:
        type: "number"
        format: "double"
        description: "If the postal code is valid, the degrees longitude of the centroid\
          \ of the state, null otherwise"
    description: "Result of validating a city"
    example:
      StateOrProvince: "StateOrProvince"
      ValidCity: true
      Latitude: 0.8008281904610115
      City: "City"
      Longitude: 6.027456183070403
  ValidateStateRequest:
    type: "object"
    properties:
      StateOrProvince:
        type: "string"
        description: "Required: State or province of the address to validate, such\
          \ as 'California' or 'CA'"
      CountryFullName:
        type: "string"
        description: "Optional (recommended); Name of the country, such as 'United\
          \ States'.  If left blank, and CountryCode is also left blank, will default\
          \ to United States.  Global countries are supported."
      CountryCode:
        type: "string"
        description: "Optional; two-letter country code (Two-letter ISO 3166-1 country\
          \ code) of the country.  If left blank, and CountryFullName is also left\
          \ blank, will default to United States.  Global countries are supported."
    description: "Request to Validate a State or Province in a country"
    example:
      StateOrProvince: "StateOrProvince"
      CountryFullName: "CountryFullName"
      CountryCode: "CountryCode"
  ValidateStateResponse:
    type: "object"
    properties:
      ValidState:
        type: "boolean"
        description: "True if the address is valid, false otherwise"
      StateOrProvince:
        type: "string"
        description: "If valid; State or province corresponding to the input state\
          \ name, such as 'CA' or 'California'"
      Latitude:
        type: "number"
        format: "double"
        description: "If the postal code is valid, the degrees latitude of the centroid\
          \ of the state, null otherwise"
      Longitude:
        type: "number"
        format: "double"
        description: "If the postal code is valid, the degrees longitude of the centroid\
          \ of the state, null otherwise"
    description: "Result of validating a state"
    example:
      ValidState: true
      StateOrProvince: "StateOrProvince"
      Latitude: 0.8008281904610115
      Longitude: 6.027456183070403
  ValidatePostalCodeRequest:
    type: "object"
    properties:
      PostalCode:
        type: "string"
        description: "Required: Zip code or postal code of the address to validate,\
          \ such as '94597'"
      CountryFullName:
        type: "string"
        description: "Optional (recommended); Name of the country, such as 'United\
          \ States'.  If left blank, and CountryCode is also left blank, will default\
          \ to United States.  Global countries are supported."
      CountryCode:
        type: "string"
        description: "Optional; two-letter country code (Two-letter ISO 3166-1 country\
          \ code) of the country.  If left blank, and CountryFullName is also left\
          \ blank, will default to United States.  Global countries are supported."
    description: "Request to Validate a Postal Code"
    example:
      PostalCode: "PostalCode"
      CountryFullName: "CountryFullName"
      CountryCode: "CountryCode"
  ValidatePostalCodeResponse:
    type: "object"
    properties:
      ValidPostalCode:
        type: "boolean"
        description: "True if the Postal Code is valid, false otherwise"
      City:
        type: "string"
        description: "If valid, City corresponding to the input postal code, such\
          \ as 'Walnut Creek'"
      StateOrProvince:
        type: "string"
        description: "If valid; State or province corresponding to the input postal\
          \ code, such as 'CA' or 'California'"
      Latitude:
        type: "number"
        format: "double"
        description: "If the postal code is valid, the degrees latitude of the centroid\
          \ of the postal code, null otherwise"
      Longitude:
        type: "number"
        format: "double"
        description: "If the postal code is valid, the degrees longitude of the centroid\
          \ of the postal code, null otherwise"
    description: "Result of validating a postal code"
    example:
      StateOrProvince: "StateOrProvince"
      Latitude: 0.8008281904610115
      City: "City"
      Longitude: 6.027456183070403
      ValidPostalCode: true
  ValidateCountryRequest:
    type: "object"
    properties:
      RawCountryInput:
        type: "string"
        description: "Raw country input - can be a two-letter code (FIPS 10-4 or ISO\
          \ 3166-1), three-letter code (ISO 3166-1) or country name"
    description: "Input parameter to a country validation request"
    example:
      RawCountryInput: "RawCountryInput"
  ValidateCountryResponse:
    type: "object"
    properties:
      Successful:
        type: "boolean"
        description: "True if successful, false otherwise"
      CountryFullName:
        type: "string"
        description: "Full name of the country"
      ISOTwoLetterCode:
        type: "string"
        description: "Two-letter ISO 3166-1 country code"
      FIPSTwoLetterCode:
        type: "string"
        description: "Two-letter FIPS 10-4 country code"
      ThreeLetterCode:
        type: "string"
        description: "Three-letter ISO 3166-1 country code"
      IsEuropeanUnionMember:
        type: "boolean"
        description: "True if this country is currently a member of the European Union\
          \ (EU), false otherwise"
      Timezones:
        type: "array"
        description: "Time zones (IANA/Olsen) in the country"
        items:
          $ref: "#/definitions/Timezone"
      ISOCurrencyCode:
        type: "string"
        description: "ISO 4217 currency three-letter code associated with the country"
      CurrencySymbol:
        type: "string"
        description: "Symbol associated with the currency"
      CurrencyEnglishName:
        type: "string"
        description: "Full name of the currency"
      Region:
        type: "string"
        description: "Region (continent) in which the country is located; possible\
          \ values are None, Europe, Americas, Asia, Africa, Oceania"
      Subregion:
        type: "string"
        description: "Subregion in which the country is located; possible values are\
          \ None, NorthernEurope, WesternEurope, SouthernEurope, EasternEurope, CentralAmerica,\
          \ NorthernAmerica, SouthAmerica, EasternAfrica, MiddleAfrica, NorthernAfrica\
          \ , SouthernAfrica , WesternAfrica , CentralAsia , EasternAsia , SouthernAsia\
          \ , SouthEasternAsia , WesternAsia , Southern , Middle , AustraliaandNewZealand\
          \ , Melanesia , Polynesia , Micronesia , Caribbean,"
    description: "Result of performing a country validation operation"
    example:
      Subregion: "Subregion"
      FIPSTwoLetterCode: "FIPSTwoLetterCode"
      Timezones:
      - BaseUTCOffset: "BaseUTCOffset"
        Now: "2000-01-23T04:56:07.000+00:00"
        Name: "Name"
      - BaseUTCOffset: "BaseUTCOffset"
        Now: "2000-01-23T04:56:07.000+00:00"
        Name: "Name"
      ISOCurrencyCode: "ISOCurrencyCode"
      CurrencyEnglishName: "CurrencyEnglishName"
      CountryFullName: "CountryFullName"
      Region: "Region"
      ThreeLetterCode: "ThreeLetterCode"
      ISOTwoLetterCode: "ISOTwoLetterCode"
      Successful: true
      IsEuropeanUnionMember: true
      CurrencySymbol: "CurrencySymbol"
  Timezone:
    type: "object"
    properties:
      Name:
        type: "string"
        description: "Name of the Time Zone"
      BaseUTCOffset:
        type: "string"
        description: "UTC offset for this time zone"
      Now:
        type: "string"
        format: "date-time"
        description: "The current time (Now) in this time zone"
    description: "IANA/Olsen time zone"
    example:
      BaseUTCOffset: "BaseUTCOffset"
      Now: "2000-01-23T04:56:07.000+00:00"
      Name: "Name"
  CountryListResult:
    type: "object"
    properties:
      Successful:
        type: "boolean"
        description: "True if the operation was successful, false otherwise"
      Countries:
        type: "array"
        description: "List of current ISO 3166-1 countries in the world"
        items:
          $ref: "#/definitions/CountryDetails"
    description: "Result of enumerating available countries"
    example:
      Countries:
      - Subregion: "Subregion"
        ISOCurrencyCode: "ISOCurrencyCode"
        CountryName: "CountryName"
        CurrencyEnglishName: "CurrencyEnglishName"
        Region: "Region"
        ThreeLetterCode: "ThreeLetterCode"
        ISOTwoLetterCode: "ISOTwoLetterCode"
        IsEuropeanUnionMember: true
        CurrencySymbol: "CurrencySymbol"
      - Subregion: "Subregion"
        ISOCurrencyCode: "ISOCurrencyCode"
        CountryName: "CountryName"
        CurrencyEnglishName: "CurrencyEnglishName"
        Region: "Region"
        ThreeLetterCode: "ThreeLetterCode"
        ISOTwoLetterCode: "ISOTwoLetterCode"
        IsEuropeanUnionMember: true
        CurrencySymbol: "CurrencySymbol"
      Successful: true
  CountryDetails:
    type: "object"
    properties:
      CountryName:
        type: "string"
        description: "Name of the country"
      ThreeLetterCode:
        type: "string"
        description: "Three-letter ISO 3166-1 country code"
      ISOTwoLetterCode:
        type: "string"
        description: "Two-letter ISO 3166-1 country code"
      IsEuropeanUnionMember:
        type: "boolean"
        description: "True if this country is currently a member of the European Union\
          \ (EU), false otherwise"
      ISOCurrencyCode:
        type: "string"
        description: "ISO 4217 currency three-letter code associated with the country"
      CurrencySymbol:
        type: "string"
        description: "Symbol associated with the currency"
      CurrencyEnglishName:
        type: "string"
        description: "Full name of the currency"
      Region:
        type: "string"
        description: "Region (continent) in which the country is located; possible\
          \ values are None, Europe, Americas, Asia, Africa, Oceania"
      Subregion:
        type: "string"
        description: "Subregion in which the country is located; possible values are\
          \ None, NorthernEurope, WesternEurope, SouthernEurope, EasternEurope, CentralAmerica,\
          \ NorthernAmerica, SouthAmerica, EasternAfrica, MiddleAfrica, NorthernAfrica\
          \ , SouthernAfrica , WesternAfrica , CentralAsia , EasternAsia , SouthernAsia\
          \ , SouthEasternAsia , WesternAsia , Southern , Middle , AustraliaandNewZealand\
          \ , Melanesia , Polynesia , Micronesia , Caribbean,"
    description: "Details of one country"
    example:
      Subregion: "Subregion"
      ISOCurrencyCode: "ISOCurrencyCode"
      CountryName: "CountryName"
      CurrencyEnglishName: "CurrencyEnglishName"
      Region: "Region"
      ThreeLetterCode: "ThreeLetterCode"
      ISOTwoLetterCode: "ISOTwoLetterCode"
      IsEuropeanUnionMember: true
      CurrencySymbol: "CurrencySymbol"
  GetTimezonesRequest:
    type: "object"
    properties:
      CountryCodeOrName:
        type: "string"
        description: "Can be the two-letter, three-letter country codes or country\
          \ name"
    description: "Request to get time zones for a country"
    example:
      CountryCodeOrName: "CountryCodeOrName"
  GetTimezonesResponse:
    type: "object"
    properties:
      Successful:
        type: "boolean"
        description: "True if successful, false otherwise"
      CountryFullName:
        type: "string"
        description: "Full name of the country"
      ISOTwoLetterCode:
        type: "string"
        description: "Two-letter ISO 3166-1 country code"
      FIPSTwoLetterCode:
        type: "string"
        description: "Two-letter FIPS 10-4 country code"
      ThreeLetterCode:
        type: "string"
        description: "Three-letter ISO 3166-1 country code"
      Timezones:
        type: "array"
        description: "Time zones (IANA/Olsen) in the country"
        items:
          $ref: "#/definitions/Timezone"
    description: "Result of performing a get time zones operation"
    example:
      FIPSTwoLetterCode: "FIPSTwoLetterCode"
      Timezones:
      - BaseUTCOffset: "BaseUTCOffset"
        Now: "2000-01-23T04:56:07.000+00:00"
        Name: "Name"
      - BaseUTCOffset: "BaseUTCOffset"
        Now: "2000-01-23T04:56:07.000+00:00"
        Name: "Name"
      CountryFullName: "CountryFullName"
      ThreeLetterCode: "ThreeLetterCode"
      ISOTwoLetterCode: "ISOTwoLetterCode"
      Successful: true
  ReverseGeocodeAddressRequest:
    type: "object"
    properties:
      Latitude:
        type: "number"
        format: "double"
        description: "Latitude coordinate in WGS84 format"
      Longitude:
        type: "number"
        format: "double"
        description: "Longitude coordinate in WGS84 format"
    description: "Request to reverse geocode a Street Address"
    example:
      Latitude: 0.8008281904610115
      Longitude: 6.027456183070403
  ReverseGeocodeAddressResponse:
    type: "object"
    properties:
      Successful:
        type: "boolean"
        description: "True if the address operation was successful, false otherwise"
      StreetAddress:
        type: "string"
        description: "Street address to validate, such as '2950 Buskirk Ave.'"
      City:
        type: "string"
        description: "City part of the addrerss to validate, such as 'Walnut Creek'"
      StateOrProvince:
        type: "string"
        description: "State or province of the address to validate, such as 'CA' or\
          \ 'California'"
      PostalCode:
        type: "string"
        description: "Zip code or postal code of the address to validate, such as\
          \ '94597'"
      CountryFullName:
        type: "string"
        description: "Name of the country, such as 'United States'.  Global countries\
          \ are supported."
      CountryCode:
        type: "string"
        description: "Three-letter ISO 3166-1 country code"
    description: "Result of reverse geocoding a street address"
    example:
      StreetAddress: "StreetAddress"
      StateOrProvince: "StateOrProvince"
      PostalCode: "PostalCode"
      CountryFullName: "CountryFullName"
      City: "City"
      CountryCode: "CountryCode"
      Successful: true
  DateTimeNowResult:
    type: "object"
    properties:
      Successful:
        type: "boolean"
        description: "True if successful, false otherwise"
      Now:
        type: "string"
        format: "date-time"
        description: "Current date, time, and time zone in standard JSON date format"
      NowGmt:
        type: "string"
        format: "date-time"
        description: "Current GMT-time-zone date, time, and time zone in standard\
          \ JSON date format"
    description: "Current date and time response"
    example:
      NowGmt: "2000-01-23T04:56:07.000+00:00"
      Now: "2000-01-23T04:56:07.000+00:00"
      Successful: true
  GetPublicHolidaysRequest:
    type: "object"
    properties:
      RawCountryInput:
        type: "string"
        description: "Two-letter code (FIPS 10-4 or ISO 3166-1) of the country; if\
          \ not specified, defaults to United States"
      Year:
        type: "integer"
        format: "int32"
        description: "Optional - the year in which to retrieve the holidays; if left\
          \ blank (0) it will default to the current year"
    description: "Input parameter to a country validation request"
    example:
      Year: 0
      RawCountryInput: "RawCountryInput"
  PublicHolidaysResponse:
    type: "object"
    properties:
      Successful:
        type: "boolean"
        description: "True if successful, false otherwise"
      PublicHolidays:
        type: "array"
        description: "Public holidays in the requested country and year"
        items:
          $ref: "#/definitions/PublicHolidayOccurrence"
    description: "Result of performing a get public holidays request operation"
    example:
      PublicHolidays:
      - HolidayType: "HolidayType"
        OccurrenceDate: "2000-01-23T04:56:07.000+00:00"
        Nationwaide: true
        EnglishName: "EnglishName"
        LocalName: "LocalName"
      - HolidayType: "HolidayType"
        OccurrenceDate: "2000-01-23T04:56:07.000+00:00"
        Nationwaide: true
        EnglishName: "EnglishName"
        LocalName: "LocalName"
      Successful: true
  PublicHolidayOccurrence:
    type: "object"
    properties:
      EnglishName:
        type: "string"
        description: "Name of the holiday in English"
      LocalName:
        type: "string"
        description: "Local name of the holiday"
      OccurrenceDate:
        type: "string"
        format: "date-time"
        description: "Date of the holiday (start time)"
      HolidayType:
        type: "string"
        description: "Type of the holiday; possible values are: Public, Bank, School,\
          \ Authorities, Optional, Observance"
      Nationwaide:
        type: "boolean"
        description: "True if the holiday is celebrated in all locales in the country,\
          \ false otherwise"
    description: "Public holiday occurrence"
    example:
      HolidayType: "HolidayType"
      OccurrenceDate: "2000-01-23T04:56:07.000+00:00"
      Nationwaide: true
      EnglishName: "EnglishName"
      LocalName: "LocalName"
  DateTimeStandardizedParseRequest:
    type: "object"
    properties:
      RawDateTimeInput:
        type: "string"
        description: "Raw string input of a standard-formatted date and time for parsing"
      CountryCode:
        type: "string"
        description: "Optional: specify the two-letter country code to optimzie date\
          \ formatting; default is US"
    description: "Input parameter to a date time parsing request"
    example:
      RawDateTimeInput: "RawDateTimeInput"
      CountryCode: "CountryCode"
  DateTimeStandardizedParseResponse:
    type: "object"
    properties:
      Successful:
        type: "boolean"
        description: "True if successful, false otherwise"
      ParsedDateResult:
        type: "string"
        format: "date-time"
        description: "Result of performing a date time parsing"
      Year:
        type: "integer"
        format: "int32"
        description: "Year of the parsed date time result"
      Month:
        type: "integer"
        format: "int32"
        description: "Month of the parsed date time result"
      Day:
        type: "integer"
        format: "int32"
        description: "Day of the parsed date time result"
      Hour:
        type: "integer"
        format: "int32"
        description: "Hour of the parsed date time result (24-hour)"
      Minute:
        type: "integer"
        format: "int32"
        description: "Minute of the parsed date time result"
      Second:
        type: "integer"
        format: "int32"
        description: "Second of the parsed date time result"
      DayOfWeek:
        type: "string"
        description: "Day of week"
    description: "Result of performing a date time parsing"
    example:
      Month: 6
      DayOfWeek: "DayOfWeek"
      Year: 0
      Minute: 5
      Second: 2
      Hour: 5
      ParsedDateResult: "2000-01-23T04:56:07.000+00:00"
      Successful: true
      Day: 1
  DateTimeNaturalLanguageParseRequest:
    type: "object"
    properties:
      RawDateTimeInput:
        type: "string"
        description: "Raw string input of a natural language-formatted date and time\
          \ for parsing"
    description: "Input parameter to a date time parsing request"
    example:
      RawDateTimeInput: "RawDateTimeInput"
  CheckResponse:
    type: "object"
    properties:
      ValidDomain:
        type: "boolean"
        description: "True if the domain name was valid, false if it is not"
    description: "Result of a validation operation"
    example:
      ValidDomain: true
  DomainQualityResponse:
    type: "object"
    properties:
      DomainQualityScore:
        type: "number"
        format: "double"
        description: "The quality score of the domain name; possible values are 0.0\
          \ to 10.0 with 10.0 being the highest and 0.0 being the lowest quality."
    description: "Result of performing a domain quality score operation"
    example:
      DomainQualityScore: 0.8008281904610115
  WhoisResponse:
    type: "object"
    properties:
      ValidDomain:
        type: "boolean"
        description: "True if the domain is valid, false if it is not"
      RegistrantName:
        type: "string"
        description: "Name of the domain registrant"
      RegistrantOrganization:
        type: "string"
        description: "Organization name of the domain registrant"
      RegistrantEmail:
        type: "string"
        description: "Email address of the domain registrant"
      RegistrantStreetNumber:
        type: "string"
        description: "Street number of the address of the domain registrant, if available"
      RegistrantStreet:
        type: "string"
        description: "Street name of the address of the domain registrant, if available"
      RegistrantCity:
        type: "string"
        description: "City of the domain registrant, if available"
      RegistrantStateOrProvince:
        type: "string"
        description: "State or Province of the address of the domain registrant, if\
          \ available"
      RegistrantPostalCode:
        type: "string"
        description: "Postal code of the address of the domain registrant, if available"
      RegistrantCountry:
        type: "string"
        description: "Country of the address of the domain registrant, if available"
      RegistrantRawAddress:
        type: "string"
        description: "Raw address string of the domain registrant, if available"
      RegistrantTelephone:
        type: "string"
        description: "Telephone number of the address of the domain registrant"
      WhoisServer:
        type: "string"
        description: "Server used to lookup WHOIS information (may change based on\
          \ lookup)."
      RawTextRecord:
        type: "string"
        description: "WHOIS raw text record"
      CreatedDt:
        type: "string"
        format: "date-time"
        description: "Creation date for the record"
    description: "Result of a WHOIS operation"
    example:
      WhoisServer: "WhoisServer"
      CreatedDt: "2000-01-23T04:56:07.000+00:00"
      ValidDomain: true
      RegistrantTelephone: "RegistrantTelephone"
      RegistrantCity: "RegistrantCity"
      RegistrantStreet: "RegistrantStreet"
      RegistrantStreetNumber: "RegistrantStreetNumber"
      RegistrantCountry: "RegistrantCountry"
      RegistrantPostalCode: "RegistrantPostalCode"
      RegistrantName: "RegistrantName"
      RegistrantStateOrProvince: "RegistrantStateOrProvince"
      RegistrantRawAddress: "RegistrantRawAddress"
      RegistrantEmail: "RegistrantEmail"
      RawTextRecord: "RawTextRecord"
      RegistrantOrganization: "RegistrantOrganization"
  ValidateUrlRequestSyntaxOnly:
    type: "object"
    properties:
      URL:
        type: "string"
        description: "URL to validate"
    description: "Request to determine if a URL is valid"
    example:
      URL: "URL"
  ValidateUrlResponseSyntaxOnly:
    type: "object"
    properties:
      ValidURL:
        type: "boolean"
        description: "True if the URL is valid, false otherwise"
      WellFormedURL:
        type: "string"
        description: "Well-formed version of the URL"
      TopLevelDomainName:
        type: "string"
        description: "The top-level domain name of the URL, e.g. mydomain.com"
    description: "Result of validating a URL with syntax only"
    example:
      ValidURL: true
      TopLevelDomainName: "TopLevelDomainName"
      WellFormedURL: "WellFormedURL"
  ValidateUrlRequestFull:
    type: "object"
    properties:
      URL:
        type: "string"
        description: "URL to validate"
    description: "Request to determine if a URL is valid"
    example:
      URL: "URL"
  ValidateUrlResponseFull:
    type: "object"
    properties:
      ValidURL:
        type: "boolean"
        description: "True if the URL has valid syntax, a valid domain, a valid endpoint,\
          \ and passes virus scan checks; false otherwise"
      Valid_Syntax:
        type: "boolean"
        description: "True if the URL has valid syntax, false otherwise"
      Valid_Domain:
        type: "boolean"
        description: "True if the domain name is valid and exists, false otherwise"
      Valid_Endpoint:
        type: "boolean"
        description: "True if the endpoint is up and responsive and passes a virus\
          \ scan check, false otherwise"
      WellFormedURL:
        type: "string"
        description: "Well-formed version of the URL"
    description: "Result of validating a URL with full validation"
    example:
      ValidURL: true
      Valid_Syntax: true
      Valid_Endpoint: true
      Valid_Domain: true
      WellFormedURL: "WellFormedURL"
  UrlSsrfRequestFull:
    type: "object"
    properties:
      URL:
        type: "string"
        description: "URL to validate"
      BlockedDomains:
        type: "array"
        description: "Top level domains that you do not want to allow access to, e.g.\
          \ mydomain.com - will block all subdomains as well"
        items:
          type: "string"
    description: "Request to determine if a URL is an SSRF threat check"
    example:
      BlockedDomains:
      - "BlockedDomains"
      - "BlockedDomains"
      URL: "URL"
  UrlSsrfResponseFull:
    type: "object"
    properties:
      CleanURL:
        type: "boolean"
        description: "True if the URL is clean, false if it is at risk of containing\
          \ an SSRF threat or attack"
      ThreatLevel:
        type: "string"
        description: "Threat level of the URL; possible values are High, Medium, Low\
          \ and None"
    description: "Result of checking a URL for SSRF threats"
    example:
      ThreatLevel: "ThreatLevel"
      CleanURL: true
  UrlSsrfRequestBatch:
    type: "object"
    properties:
      InputItems:
        type: "array"
        description: "Input URLs to check for SSRF threats"
        items:
          $ref: "#/definitions/UrlSsrfRequestFull"
    description: "Batch operation to perform SSRF threat checks on multiple URLs"
    example:
      InputItems:
      - BlockedDomains:
        - "BlockedDomains"
        - "BlockedDomains"
        URL: "URL"
      - BlockedDomains:
        - "BlockedDomains"
        - "BlockedDomains"
        URL: "URL"
  UrlSsrfResponseBatch:
    type: "object"
    properties:
      OutputItems:
        type: "array"
        description: "Results of the operation, with indexes matched to input values"
        items:
          $ref: "#/definitions/UrlSsrfResponseFull"
    description: "Result of performing SSRF threat checks on multiple URLs"
    example:
      OutputItems:
      - ThreatLevel: "ThreatLevel"
        CleanURL: true
      - ThreatLevel: "ThreatLevel"
        CleanURL: true
  AddressVerifySyntaxOnlyResponse:
    type: "object"
    properties:
      ValidAddress:
        type: "boolean"
        description: "True if the email address is syntactically valid, false if it\
          \ is not"
      Domain:
        type: "string"
        description: "Domain name of the email address"
      IsFreeEmailProvider:
        type: "boolean"
        description: "True if the email domain name is a free provider (typically\
          \ a free to sign up web email provider for consumers / personal use), false\
          \ otherwise."
      IsDisposable:
        type: "boolean"
        description: "True if the email address is a disposable email address, false\
          \ otherwise; these disposable providers are not typically used to receive\
          \ email and so will have a low likelihood of opening mail sent there."
    description: "Syntactic validity of email address"
    example:
      ValidAddress: true
      IsFreeEmailProvider: true
      Domain: "Domain"
      IsDisposable: true
  AddressGetServersResponse:
    type: "object"
    properties:
      Success:
        type: "boolean"
        description: "True if partial address validation was successufl, false otherwise"
      Servers:
        type: "array"
        description: "Email servers for this email address"
        items:
          type: "string"
    description: "Result of a partial email address validation"
    example:
      Servers:
      - "Servers"
      - "Servers"
      Success: true
  FullEmailValidationResponse:
    type: "object"
    properties:
      ValidAddress:
        type: "boolean"
        description: "True if the email address is valid overall, false otherwise"
      MailServerUsedForValidation:
        type: "string"
        description: "Email server connected to for verification"
      Valid_Syntax:
        type: "boolean"
        description: "True if the syntax of the email address is valid, false otherwise.\
          \  This is one component of ValidAddress, but not the only one."
      Valid_Domain:
        type: "boolean"
        description: "True if the domain name of the email address is valid, false\
          \ otherwise.  This is one component of ValidAddress, but not the only one."
      Valid_SMTP:
        type: "boolean"
        description: "True if the email address was verified by the remote server,\
          \ false otherwise.  This is one component of ValidAddress, but not the only\
          \ one."
      IsCatchallDomain:
        type: "boolean"
        description: "True if the domain is a catch-all domain name, false otherwise.\
          \  Catch-all domain names, while rare, always accept inbound email to ensure\
          \ they do not lose any potentially useful emails.  Catch-all domain names\
          \ can occassionally be configured to first accept and store all inbound\
          \ email, but then later send a bounce email back to the sender after a delayed\
          \ period of time."
      Domain:
        type: "string"
        description: "Domain name of the email address"
      IsFreeEmailProvider:
        type: "boolean"
        description: "True if the email domain name is a free provider (typically\
          \ a free to sign up web email provider for consumers / personal use), false\
          \ otherwise."
      IsDisposable:
        type: "boolean"
        description: "True if the email address is a disposable email address, false\
          \ otherwise; these disposable providers are not typically used to receive\
          \ email and so will have a low likelihood of opening mail sent there."
    description: "Full email addresss validation result"
    example:
      ValidAddress: true
      MailServerUsedForValidation: "MailServerUsedForValidation"
      Valid_Syntax: true
      IsCatchallDomain: true
      Valid_SMTP: true
      Valid_Domain: true
      IsFreeEmailProvider: true
      Domain: "Domain"
      IsDisposable: true
  IPIntelligenceResponse:
    type: "object"
    properties:
      IsBot:
        type: "boolean"
        description: "True if the IP address is a known bot, otherwise false"
      IsTorNode:
        type: "boolean"
        description: "True if the IP address is a known Tor exit node, otherwise false"
      IsThreat:
        type: "boolean"
        description: "True if the IP address is a known threat IP, otherwise false"
      IsEU:
        type: "boolean"
        description: "True if the IP address is in the European Union, otherwise false"
      Location:
        description: "Returns the location of the IP address"
        $ref: "#/definitions/GeolocateResponse"
      CurrencyCode:
        type: "string"
        description: "ISO 4217 currency code for the IP address location"
      CurrencyName:
        type: "string"
        description: "Name of the currency in English"
      RegionArea:
        type: "string"
        description: "Region (continent) in which the country is located; possible\
          \ values are None, Europe, Americas, Asia, Africa, Oceania"
      SubregionArea:
        type: "string"
        description: "Subregion in which the country is located; possible values are\
          \ None, NorthernEurope, WesternEurope, SouthernEurope, EasternEurope, CentralAmerica,\
          \ NorthernAmerica, SouthAmerica, EasternAfrica, MiddleAfrica, NorthernAfrica\
          \ , SouthernAfrica , WesternAfrica , CentralAsia , EasternAsia , SouthernAsia\
          \ , SouthEasternAsia , WesternAsia , Southern , Middle , AustraliaandNewZealand\
          \ , Melanesia , Polynesia , Micronesia , Caribbean,"
    description: "IP address intelligence result"
    example:
      CurrencyCode: "CurrencyCode"
      IsTorNode: true
      RegionArea: "RegionArea"
      IsBot: true
      IsEU: true
      SubregionArea: "SubregionArea"
      IsThreat: true
      Location:
        RegionCode: "RegionCode"
        CountryName: "CountryName"
        RegionName: "RegionName"
        ZipCode: "ZipCode"
        TimezoneStandardName: "TimezoneStandardName"
        Latitude: 0.8008281904610115
        City: "City"
        CountryCode: "CountryCode"
        Longitude: 6.027456183070403
      CurrencyName: "CurrencyName"
  GeolocateResponse:
    type: "object"
    properties:
      CountryCode:
        type: "string"
        description: "Two-letter country code of IP address"
      CountryName:
        type: "string"
        description: "Country name of IP address"
      City:
        type: "string"
        description: "City of IP address"
      RegionCode:
        type: "string"
        description: "State/region code of IP address"
      RegionName:
        type: "string"
        description: "State/region of IP address"
      ZipCode:
        type: "string"
        description: "Zip or postal code of IP address"
      TimezoneStandardName:
        type: "string"
        description: "Timezone of IP address"
      Latitude:
        type: "number"
        format: "double"
        description: "Latitude of IP address"
      Longitude:
        type: "number"
        format: "double"
        description: "Longitude of IP address"
    description: "Geolocation result of performing an IP address geolocation operation.\
      \  This product includes GeoLite2 data created by MaxMind, available from www.maxmind.com."
    example:
      RegionCode: "RegionCode"
      CountryName: "CountryName"
      RegionName: "RegionName"
      ZipCode: "ZipCode"
      TimezoneStandardName: "TimezoneStandardName"
      Latitude: 0.8008281904610115
      City: "City"
      CountryCode: "CountryCode"
      Longitude: 6.027456183070403
  GeolocateStreetAddressResponse:
    type: "object"
    properties:
      CountryCode:
        type: "string"
        description: "Two-letter country code of IP address"
      CountryName:
        type: "string"
        description: "Country name of IP address"
      StreetAddress:
        type: "string"
        description: "Street address of IP address"
      City:
        type: "string"
        description: "City of IP address"
      RegionName:
        type: "string"
        description: "State/region of IP address"
      ZipCode:
        type: "string"
        description: "Zip or postal code of IP address"
    description: "Geolocation street address result"
    example:
      StreetAddress: "StreetAddress"
      CountryName: "CountryName"
      RegionName: "RegionName"
      ZipCode: "ZipCode"
      City: "City"
      CountryCode: "CountryCode"
  IPThreatResponse:
    type: "object"
    properties:
      IsThreat:
        type: "boolean"
        description: "True if the input IP address is a threat, false otherwise"
      ThreatType:
        type: "string"
        description: "Specifies the type of IP threat; possible values include Blocklist,\
          \ Botnet, WebBot"
    description: "Result of performing a IP threat check on an IP address"
    example:
      ThreatType: "ThreatType"
      IsThreat: true
  TorNodeResponse:
    type: "object"
    properties:
      IsTorNode:
        type: "boolean"
        description: "True if the input IP address is a Tor exit node, false otherwise"
    description: "Result of performing a Tor node check on an IP address"
    example:
      IsTorNode: true
  BotCheckResponse:
    type: "object"
    properties:
      IsBot:
        type: "boolean"
        description: "True if the input IP address is a Bot or Robot, false otherwise"
    description: "Result of performing a Bot check on an IP address"
    example:
      IsBot: true
  IPReverseDNSLookupResponse:
    type: "object"
    properties:
      Successful:
        type: "boolean"
        description: "True if a domain was found, false otherwise"
      HostName:
        type: "string"
        description: "Host name (fully-qualified) associated with the IP address,\
          \ if any"
    description: "Result of performing a Reverse Domain (DNS) lookup on an IP address"
    example:
      Successful: true
      HostName: "HostName"
  LeadEnrichmentRequest:
    type: "object"
    properties:
      ContactBusinessEmail:
        type: "string"
        description: "The person's business email address for the lead"
      ContactFirstName:
        type: "string"
        description: "The person's first name for the lead"
      ContactLastName:
        type: "string"
        description: "The person's last name for the lead"
      CompanyName:
        type: "string"
        description: "Name of the company for the lead"
      CompanyDomainName:
        type: "string"
        description: "Domain name / website for the lead"
      CompanyHouseNumber:
        type: "string"
        description: "House number of the address of the company for the lead"
      CompanyStreet:
        type: "string"
        description: "Street name of the address of the company for the lead"
      CompanyCity:
        type: "string"
        description: "City of the address of the company for the lead"
      CompanyStateOrProvince:
        type: "string"
        description: "State or Province of the address of the company for the lead"
      CompanyPostalCode:
        type: "string"
        description: "Postal Code of the address of the company for the lead"
      CompanyCountry:
        type: "string"
        description: "Country of the address of the company for the lead"
      CompanyCountryCode:
        type: "string"
        description: "Country Code (2-letter ISO 3166-1) of the address of the company\
          \ for the lead"
      CompanyTelephone:
        type: "string"
        description: "Telephone of the company office for the lead"
      CompanyVATNumber:
        type: "string"
        description: "VAT number of the company for the lead"
    description: "Input lead contact; fill in known fields to extend them with matched\
      \ field values"
    example:
      ContactBusinessEmail: "ContactBusinessEmail"
      CompanyHouseNumber: "CompanyHouseNumber"
      CompanyDomainName: "CompanyDomainName"
      CompanyStreet: "CompanyStreet"
      ContactLastName: "ContactLastName"
      CompanyName: "CompanyName"
      CompanyPostalCode: "CompanyPostalCode"
      CompanyStateOrProvince: "CompanyStateOrProvince"
      CompanyCountryCode: "CompanyCountryCode"
      CompanyTelephone: "CompanyTelephone"
      CompanyVATNumber: "CompanyVATNumber"
      ContactFirstName: "ContactFirstName"
      CompanyCity: "CompanyCity"
      CompanyCountry: "CompanyCountry"
  LeadEnrichmentResponse:
    type: "object"
    properties:
      Successful:
        type: "boolean"
        description: "True if the operation was successful, false otherwise"
      LeadType:
        type: "string"
        description: "The type of the lead; possible types are Junk (a single individual\
          \ using a disposable/throwaway email address); Individual (a single individual,\
          \ typically a consumer, not purchasing on behalf of a business); SmallBusiness\
          \ (a small business, typically with fewer than 100 employees); MediumBusiness\
          \ (a medium business, larger than 100 employees but fewer than 1000 employees);\
          \ Enterprise (a large business with greater than 1000 employees); Business\
          \ (a business customer of unknown size)"
      ContactBusinessEmail:
        type: "string"
        description: "The person's business email address for the lead"
      ContactFirstName:
        type: "string"
        description: "The person's first name for the lead"
      ContactLastName:
        type: "string"
        description: "The person's last name for the lead"
      ContactGender:
        type: "string"
        description: "Gender for contact name; possible values are Male, Female, and\
          \ Neutral (can be applied to Male or Female).  Requires ContactFirstName."
      CompanyName:
        type: "string"
        description: "Name of the company for the lead"
      CompanyDomainName:
        type: "string"
        description: "Domain name / website for the lead"
      CompanyHouseNumber:
        type: "string"
        description: "House number of the address of the company for the lead"
      CompanyStreet:
        type: "string"
        description: "Street name of the address of the company for the lead"
      CompanyCity:
        type: "string"
        description: "City of the address of the company for the lead"
      CompanyStateOrProvince:
        type: "string"
        description: "State or Province of the address of the company for the lead"
      CompanyPostalCode:
        type: "string"
        description: "Postal Code of the address of the company for the lead"
      CompanyCountry:
        type: "string"
        description: "Country Name of the address of the company for the lead"
      CompanyCountryCode:
        type: "string"
        description: "Country Code (2-letter ISO 3166-1) of the address of the company\
          \ for the lead"
      CompanyTelephone:
        type: "string"
        description: "Telephone of the company office for the lead"
      CompanyVATNumber:
        type: "string"
        description: "VAT number of the company for the lead"
      EmployeeCount:
        type: "integer"
        format: "int32"
        description: "Count of employees at the company (estimated), if available"
    description: "Result of the lead enrichment process"
    example:
      ContactBusinessEmail: "ContactBusinessEmail"
      CompanyHouseNumber: "CompanyHouseNumber"
      CompanyDomainName: "CompanyDomainName"
      EmployeeCount: 0
      LeadType: "LeadType"
      Successful: true
      CompanyStreet: "CompanyStreet"
      ContactLastName: "ContactLastName"
      CompanyName: "CompanyName"
      CompanyPostalCode: "CompanyPostalCode"
      CompanyStateOrProvince: "CompanyStateOrProvince"
      CompanyCountryCode: "CompanyCountryCode"
      CompanyTelephone: "CompanyTelephone"
      CompanyVATNumber: "CompanyVATNumber"
      ContactFirstName: "ContactFirstName"
      ContactGender: "ContactGender"
      CompanyCity: "CompanyCity"
      CompanyCountry: "CompanyCountry"
  FullNameValidationRequest:
    type: "object"
    properties:
      FullNameString:
        type: "string"
        description: "Full name to process as a free-form string; supports many components\
          \ such as First Name, Middle Name, Last Name, Title, Nickname, Suffix, and\
          \ Display Name"
    description: "Request to validate a full name string"
    example:
      FullNameString: "FullNameString"
  FullNameValidationResponse:
    type: "object"
    properties:
      Successful:
        type: "boolean"
        description: "True if the validation operation was successful, false otherwise"
      ValidationResult_FirstName:
        type: "string"
        description: "Possible values are: ValidFirstName, ValidUnknownFirstName,\
          \ InvalidSpamInput, InvalidCharacters, InvalidEmpty"
      ValidationResult_LastName:
        type: "string"
        description: "Possible values are: ValidLastName, ValidUnknownLastName, InvalidSpamInput,\
          \ InvalidCharacters, InvalidEmpty"
      Title:
        type: "string"
[...]
